#applicants
  #index
    .row
      .span12
        %legend= t(:'site.applicant.index.title')
        - applicants.each do |a|
          = link_to applicant_path(a), :rel => 'tooltip', 'data-original-title' => a.full_name, :class => 'icon' do
            = image_tag a.avatar_url(:icon50).to_s
        %br/
        %br/
        %p.muted= t(:'site.applicant.index.total') + applicants.size.to_s
