- if admin_signed_in?
  = link_to 'Hello Admin!', '#'


- if user_signed_in?
  = 'Hello, ' + current_user.email
  \/

  = link_to edit_user_registration_path do
    %i.icon-pencil
    Edit email or password

  = link_to destroy_user_session_path do
    %i.icon-off
    Log out
%hr/