/* ICONS */
.link-icon, .span-icon{
  background-repeat: no-repeat;
  background-position: 0 50%;
  display: inline-block;
  padding-left: 1em;
  margin-right: 1em;
}

.icon-arrow{
  background-image: url(asset_path('bg_bullet00.png', image));
}

.icon-delete{
  background-image: url(asset_path('webdev-icons/action_delete.gif', image));
  padding-left: 1.5em;
}

.icon-edit{
  background-image: url(asset_path('webdev-icons/reply.gif', image));
  padding-left: 1.5em;
}

.icon-add{
  background-image: url(asset_path('webdev-icons/action_add.gif', image));
  padding-left: 1.5em;
}

.icon-phone{
  background-image: url(asset_path('contact-icons/phone.png', image));
  padding-left: 1.5em;
}

.icon-email{
  background-image: url(asset_path('contact-icons/mail.png', image));
  padding-left: 1.5em;
}

.icon-skype{
  background-image: url(asset_path('contact-icons/skype.png', image));
  padding-left: 1.5em;
}

.icon-url{
  background-image: url(asset_path('contact-icons/web.png', image));
  padding-left: 1.5em;
}

.icon-icq{
  background-image: url(asset_path('contact-icons/icq.png', image));
  padding-left: 1.5em;
}

.icon-msn{
  background-image: url(asset_path('contact-icons/msn.png', image));
  padding-left: 1.5em;
}
/* /ICONS */
