-#- set_meta_tags :title => posting.title + ' | ' + t(:'seo.sections.postings'), :description => posting.excerpt, :keywords => ( posting.tags.each do |tag| tag.name end )
#postings
  #show
    .row
      .span8
        %p= link_to gallery.galleryable, school_path(gallery.galleryable)