#applicants {
  #index {
    a.icon {
      margin: 2px 1px;
      display: inline-block;
      img {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
      }
    }
  }
}