#home {
  div.count {
    p.number {
      font-size: 130px;
      line-height: 100px;
      font-weight: bold;
      text-align: center;
      color: #999999;
    }
    p.title {
      font-size: 30px;
      text-align: center;
      line-height: 30px;
      color: #cccccc;
    }
  }
}